@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'EB Garamond', serif; }

h2 {
  margin-bottom: 0; }

h1 {
  font-size: 1rem;
  margin-bottom: 0;
  animation-duration: 4s;
  animation-name: aparicion; }

.offcanvas {
  width: 100%; }

@keyframes aparicion {
  0% {
    font-size: 0.4rem;
    opacity: 0;
    left: -200px; }
  100% {
    font-size: 1rem;
    opacity: 1;
    left: 0px; } }

footer {
  border-top: 1px solid #ccc; }

.pos-rel {
  position: relative; }

.text {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .text__content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: white; }

/* 2ndSection */
.indexSecondSection {
  padding: 20px;
  text-align: center; }
  .indexSecondSection h2 {
    font-style: italic;
    line-height: 2rem; }
  .indexSecondSection ::before {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    margin: 0 auto 5%;
    background: #ccc; }
  .indexSecondSection ::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    margin: 5% auto 0;
    background: #ccc; }

/* 3rdSection */
.d-md-block {
  display: block !important; }

.indexThirdSection a {
  color: white; }

/* 4thSection */
.indexFourthSection {
  padding: 20px;
  text-align: center; }
  .indexFourthSection__blockquote {
    font-style: italic; }
    .indexFourthSection__blockquote ::before {
      content: "";
      display: block;
      width: 80%;
      height: 1px;
      margin: 0 auto 5%;
      background: #ccc; }
    .indexFourthSection__blockquote ::after {
      content: "";
      display: block;
      width: 80%;
      height: 1px;
      margin: 5% auto 0;
      background: #ccc; }
    .indexFourthSection__blockquote__quote {
      font-size: 1.5rem; }
    .indexFourthSection__blockquote__speaker {
      font-weight: 600;
      font-size: 1.5rem; }

.nosotrosCards {
  margin: 5%;
  border: 1px solid #ccc;
  border-radius: 5px; }
  .nosotrosCards__img {
    max-width: 100%;
    height: 100%; }
  .nosotrosCards__div {
    display: flex;
    flex-flow: column wrap; }
    .nosotrosCards__div h2 {
      text-align: center;
      flex: 1 0 auto;
      margin: 5% 0; }
    .nosotrosCards__div p {
      flex: 3 0 auto;
      text-align: center;
      margin: 5%; }

@media screen and (min-width: 768px) {
  .nosotrosCards h2 {
    margin: 5% 0 0; } }

@media screen and (min-width: 1024px) {
  .nosotrosCards {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .nosotrosCards__div h2 {
      margin: 5% 0 0; }
    .nosotrosCards__div p {
      margin: 0 5%; } }

.contactoSection {
  margin: 5%; }
  .contactoSection__div img {
    max-width: 100%;
    height: 100%; }

.form__h2 {
  text-align: center;
  margin: 5%; }

.form__div {
  margin-top: 2%;
  margin-bottom: 2%; }
  .form__div__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc; }
  .form__div__input:focus {
    outline: none;
    border-bottom: 1px #666 solid;
    transition: 0.5s; }
  .form__div__button {
    width: 100%;
    border: none;
    line-height: 4rem;
    text-transform: uppercase; }

@media screen and (min-width: 1024px) {
  .contactoSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%; } }

.faqSection {
  width: 80%;
  margin: auto; }
  .faqSection__title {
    text-align: center;
    font-size: 1.5rem;
    margin: 8% 0; }
  .faqSection__article {
    margin-bottom: 8%; }
    .faqSection__article h3 {
      font-size: 1.2rem;
      margin-bottom: 5%; }

@media screen and (min-width: 1024px) {
  .faqSection {
    width: 50%; } }

.dondeEncontrarnosSection {
  width: 80%;
  margin: auto; }
  .dondeEncontrarnosSection article {
    margin: 8% 0; }
  .dondeEncontrarnosSection__h2 {
    text-align: center;
    margin-top: 8%; }
  .dondeEncontrarnosSection__h3 {
    text-align: center;
    margin-bottom: 8%; }
  .dondeEncontrarnosSection__iframe {
    height: 200px;
    width: 100%; }

@media screen and (min-width: 768px) {
  .dondeEncontrarnosSection__iframe {
    height: 500px;
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .dondeEncontrarnosSection {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title title title" "map1 map2 map3";
    column-gap: 25px; }
    .dondeEncontrarnosSection__h2 {
      margin-top: 5%;
      grid-area: title; }
    .dondeEncontrarnosSection article:nth-child(1) {
      grid-area: map1; }
    .dondeEncontrarnosSection article:nth-child(2) {
      grid-area: map2; }
    .dondeEncontrarnosSection article:nth-child(3) {
      grid-area: map3; }
    .dondeEncontrarnosSection__iframe {
      width: 100%;
      height: 450px; } }
